$zero-number: 0;
$center: center;
$color: (
  'white': white,
  'black': black,
  'white-light': #fefefe,
  'gray-light': #ddd,
  'gray': #ccc,
  'blue': #000088,
  'red': #880000,
  'green': #008800
);